.bom-radar-loop {
    position: relative;
    z-index: 0; 
    padding: 0px; 
    padding-bottom: 10%;
    margin: 0px; 
    background-color: transparent; 
    background-repeat: no-repeat;
    background-size: contain;
    display: block; 

    > img {
        width: 100%; 
        height: 100%;
        background-color: transparent; 
        background-repeat: no-repeat;
        background-size: contain;
    }

    > div {
        width: 100%; 
        height: 100%;  
        background-color: transparent; 
        background-repeat: no-repeat;
        background-size: contain;
        position: absolute; 
        left: 0px; 
        top: 0px;

        &.background {
            z-index: -3; 
        }
    
        &.observations {
            z-index: 9; 
        }
        
        &.locations {
            z-index: 7; 
        }
        
        &.range {
            z-index: 2; 
        }
        
        &.topography {
            z-index: -2; 
        }
    }
}